/Experimento2/Persistencia/MinaSamacaApp/target/
/Experimento2/Persistencia/ThermalComfortBack-master/target/
/Experimento2/Persistencia/MinaSamacaAPPSeguridad/target/
/Experimento2/Seguridad/MinaSamacaAPPSeguridad/target/
/Experimento3/ThermalComfortFront-master/node_modules